<h1>titre de a premiere page symphony</h1>
<p>
ceci est un paragraphe de textees qui illustre le fonctionnement d'une vue Symfony et Twig.
Pour  le moment, il ne s'agit que d'une simple page html
</p>